{% extends "clinicaPaniBundle:Default:index.html.twig " %}
{% block title %}Visites{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="page-header">
            <h1> {{ titol }}</h1>
        </div>      
        <div>
            {{ form_start(form)}}
            {{ form_widget(form)}}
            {{ form_end(form)}}
        </div>
    </div>
{% endblock %}